---
interface Props {
  text: string;
}

const { text } = Astro.props;
---

<a
  class="flex items-center justify-center px-3 py-1.5 font-light tracking-widest hover:shadow-lg"
  href="/#agenda"
>
  <slot name="before-text" />
  {text}
</a>

<!--
  /*
  class="
      rounded-lg px-2 py-1 text-center
        inline-flex items-center
        dark:focus:ring-[#1da1f2]/55 mr-2 mb-2
        hover:shadow-lg transition-all duration-200 ease-in-out hover:scale-90
        scale-60 opacity-90 hover:opacity-100"
        */
 -->
