---
import { string } from "astro/zod";

interface Props {
  snapPosition: string;
}
const { snapPosition } = Astro.props;
---

<section
  class=`h-screen w-screen flex flex-col items-center justify-center ${snapPosition}`
>
  <article>
    <header>
      <h2
        class="text-xl lg:text-3xl text-balance max-w-4xl text-black dark:text-white"
      >
        <span class="font-medium text-orange-400/60">Empoderando</span> la salud
        a través de la innovación:
        <span class="font-bold text-sky-500/90">PatientGuard</span>, el
        <span class="font-medium text-orange-400/60">guardián</span>
        de tus
        <span class="font-medium text-green-400/60">historiales médicos</span>.
      </h2>
    </header>
    <main class="py-4">
      <p
        class="text-sm text-balance max-w-4xl text-black dark:text-white tracking-widest"
      >
        <span class="text-base font-medium text-green-400/60"
          >Uniendo hospitales, empoderando pacientes.
        </span><span class="font-medium text-orange-400/60">Seguridas</span> sin
        fisuras, acceso controlado. Despídete de las <span
          class="font-medium text-orange-400/60"
          >barreras interhospitalarias</span
        >, da la bienvenida a la revolución de la salud con PatientGuard.
      </p>
    </main>
  </article>
</section>
