<section class="h-screen w-screen flex flex-col items-center justify-center">
  <h1 class="text-9xl font-black text-sky-500/60">PatientGuard</h1>
  <p class="text-sky-500/30">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, placeat.
  </p>
</section>
