---
import HospitalesSlider from "./HospitalesSlider.astro";
import SliderEl from "./SliderEl.astro";
---

<main class="snap-y snap-mandatory overflow-auto overflow-x-hidden h-screen">
  <SliderEl snapPosition="snap-center" />
  <HospitalesSlider snapPosition="snap-center" />
</main>
