---
import LogoBanner from "./LogoBanner.astro";
---

<main class="snap-y snap-mandatory overflow-auto overflow-x-hidden h-screen">
  <LogoBanner snapPosition="snap-center" />
  <LogoBanner snapPosition="snap-center" />
</main>
